.auto_main {
  /* margin-top: 10px; */
  /* height: 80vh;
    background-color: brown; */
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.video-responsive {
  width: 300px;
  /* overflow: hidden;
  padding-bottom: 56.25%; */
  /* position: relative;
  height: 0; */
}

.video-responsive iframe {
  /* left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; */
}

.sub_box {
  background-color: rgba(1, 4, 44, 0.303);
  height: 100%;
  width: 100%;
  z-index: inherit;
}

.genres {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  margin-top: 50px;
}

.inner_div {
  background-color: rgba(0, 0, 0, 0.379);
  width: 100%;
  height: 70vh;
  /* display: flex;
    align-items: center; */
}


.Nav {
  background-color: black;
  width: 100%;
  color: aliceblue;
  display: block;
  align-items: center;
  /* height: 50px; */
}

.NavColor {
  padding: 40px;
  /* background-color: rgb(239, 13, 13); */
  /* background-image: linear-gradient(to right top, #FF6F91, #FF9671, #FFC75F, #F9F871) */
  /* background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.967) 11.2%, rgb(63, 61, 61) 78.9%); */
  /* background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%); */
  background-color: rgb(24, 24, 24);
  align-items: center;
  display: flex;
  justify-content: center;
}

.Nav .sub {
  background-color: aliceblue;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
}

.navlink {
  font-size: 1rem;
  padding-left: 10px;
}

.image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.color {
  /* padding-left: 20px; */
  color: whitesmoke;
}

.SubNav {
  display: flex;
  margin-left: 3rem;
  /* align-items: center; */
  justify-content: space-between;
}

.sub {
  float: right;
}

h3 {
  font-size: 30px;
}

.castbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.castboxmain {
  overflow: hidden;
  display: flex;
  width: 800px;
  flex-direction: row;
  gap: 10px;
  grid-row: 2;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  /* position: relative; */
}

.castcontiner {
  margin: 20px;
  /* position: relative;
  bottom:120px;
  right: 260px;
  margin-left: 100px;
  float: right; */
}

.slider {
  height: 100%;
  width: 270px;
  /* -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}
.slider:hover {
  width: 290px;
  height: 100%;
}

.over-black {
  background-color: rgba(0, 0, 0, 0.605);
  height: 70vh;
  width: 100%;
}

.grid-poster {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: -20px;
}
.grid-poster img {
  width: 300px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 50px;
}
@media screen and (max-width: 650px) {
  .grid-poster {
    display: flex;
    flex-direction: column;
  }
  .grid-poster img {
    display: none;
  }
  
}

.cast-box {
  /* display: flex;
  flex-direction: row;
  margin-right: 20px; */
  overflow: hidden;
  display: flex;
  width: 80%;
  flex-direction: row;
  gap: 20px;
  grid-row: 2;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  /* height: 40vh; */
}
.cast-box p {
  text-wrap: balance;
  width: 100px;
}
.cast-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
@media screen and (max-width: 650px) {
  .cast-container {
    display: flex;
    flex-direction: column;
  }
}

.status {
  margin-left: 10px;
  /* background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */
/* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
background-image: linear-gradient(-20deg, #e8e8e8f4 0%, rgba(236, 236, 236, 0.764) 100%);
border-radius: 1px;
box-shadow: 0 0 50px 15px #48abe0;
padding: 30px;
max-height: 40vh;
}
.status h4 {
  /* font-size: 20px; */
  font-weight: 600;
  color: #f9f7f7;
  margin-bottom: 10px;
} 

.Videos {
  /* display: flex;
  flex-direction: row; */
  /* grid-template-rows: auto auto  ; */
  /* flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px; */
}